.banner_content {
  color: #fff;

  h1 {
    font-size: 45px;
    text-align: center;
    font-weight: 700;
  }

  p {
    max-width: 500px;
    margin: 30px auto;
    text-align: center;
    font-size: 16px;
  }
  a {
    margin: 0 10px;
  }
}
